.txt-cent{
    text-align: center;
 
}


.cent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

th {
    font-weight: bold;
    color: black;
}